:root {
    --preto: #000000;

    /* Tema light */
    --background-light: #FFFBFF;
    --on-background-light: #201A18;
    --surface-light: #FFF8F6;
    --surface-container-low-light: #FEF1EC;
    --surface-container-highest-light: #EDE0DB;
    --on-surface-light: #201A18;
    --on-surface-variant-light: #52443D;
    --primary-light: #9D4300;
    --on-primary-light: #FFFFFF;
    --primary-container-light: #FFDBCA;
    --on-primary-container-light: #341100;
    --secondary-container-light: #FFDBCA;
    --on-secondary-container-light: #2B160A;
    --outline-light: #85736B;
    --outline-variant-light: #D7C2B9;
    --inverse-surface-light: #362F2C;
    --inverse-on-surface-light: #FBEEE9;

    /* Tema dark */
    --background-dark: #121212;
    --on-background-dark: #EDE0DB;
    --surface-dark: #181210;
    --surface-container-low-dark: #201A18;
    --surface-container-highest-dark: #3A3330;
    --on-surface-dark: #D0C4BF;
    --on-surface-variant-dark: #D7C2B9;
    --primary-dark: #FFB690;
    --on-primary-dark: #552100;
    --primary-container-dark: #783200;
    --on-primary-container-dark: #FFDBCA;
    --secondary-container-dark: #5C4032;
    --on-secondary-container-dark: #FFDBCA;
    --outline-dark: #A08D84;
    --outline-variant-dark: #52443D;
    --inverse-surface-dark: #EDE0DB;
    --inverse-on-surface-dark: #201A18;

    --fonte-primaria: 'Poppins', sans-serif;

    /* Tamanho de fonte */
    --fs-base: 62.5%;
    --fs-display-g: 5.7rem;
    --fs-display-m: 4.5rem;
    --fs-display-p: 3.6rem;
    --fs-headline-g: 3.2rem;
    --fs-headline-m: 2.8rem;
    --fs-headline-p: 2.4rem;
    --fs-titulo-g: 2.2rem;
    --fs-titulo-m: 1.6rem;
    --fs-titulo-p: 1.4rem;
    --fs-body-g: 1.6rem;
    --fs-body-m: 1.4rem;
    --fs-body-p: 1.2rem;
    --fs-label-g: 1.4rem;
    --fs-label-m: 1.2rem;
    --fs-label-p: 1.1rem;

    /* Altura de linha */
    --lh-base: 20px;
    --lh-display-g: 64px;
    --lh-display-m: 52px;
    --lh-display-p: 44px;
    --lh-headline-g: 40px;
    --lh-headline-m: 36px;
    --lh-headline-p: 32px;
    --lh-titulo-g: 28px;
    --lh-titulo-m: 24px;
    --lh-titulo-p: 20px;
    --lh-body-g: 24px;
    --lh-body-m: 20px;
    --lh-body-p: 16px;
    --lh-label-g: 20px;
    --lh-label-m: 16px;
    --lh-label-p: 16px;

    /* Peso da fonte */
    --fw-regular: 400;
    --fw-m: 500;
    --fw-g: 700;

    /* Espaçamento letras */
    --ls-n-025: -0.25px;
    --ls-p-010: 0.10px;
    --ls-p-015: 0.15px;
    --ls-p-025: 0.25px;
    --ls-p-040: 0.40px;
    --ls-p-050: 0.50px;

    /* Espaçamento */
    --espacamento-base: 4px;
    --espacamento-05: calc(var(--espacamento-base) * 0.5);
    --espacamento-1: calc(var(--espacamento-base) * 1);
    --espacamento-2: calc(var(--espacamento-base) * 2);
    --espacamento-3: calc(var(--espacamento-base) * 3);
    --espacamento-4: calc(var(--espacamento-base) * 4);
    --espacamento-5: calc(var(--espacamento-base) * 5);
    --espacamento-6: calc(var(--espacamento-base) * 6);
    --espacamento-7: calc(var(--espacamento-base) * 7);
    --espacamento-8: calc(var(--espacamento-base) * 8);
    --espacamento-9: calc(var(--espacamento-base) * 9);
    --espacamento-10: calc(var(--espacamento-base) * 10);
    --espacamento-11: calc(var(--espacamento-base) * 11);
    --espacamento-12: calc(var(--espacamento-base) * 12);
    --espacamento-13: calc(var(--espacamento-base) * 13);
    --espacamento-14: calc(var(--espacamento-base) * 14);
    --espacamento-15: calc(var(--espacamento-base) * 15);
    --espacamento-16: calc(var(--espacamento-base) * 16);
    --espacamento-17: calc(var(--espacamento-base) * 17);
    --espacamento-18: calc(var(--espacamento-base) * 18);
    --espacamento-19: calc(var(--espacamento-base) * 19);
    --espacamento-20: calc(var(--espacamento-base) * 20);

    /* Sombras */
    --sombra-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
    --sombra-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
    --sombra-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    --sombra-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
    --sombra-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;

    /* Bordas */
    --raio-extra-p: 4px;
    --raio-p: 8px;
    --raio-m: 12px;
    --raio-g: 16px;
    --raio-extra-g: 28px;
    --raio-completo: 1000px;

    /* Transições */
    --tr-curta: 200ms;
    --tr-media: 400ms;
    --tr-longa: 500ms;
    --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
    --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);

    --sidebar-width: 360px;
}

[tema="dark"] {
    color-scheme: dark;

    --background: var(--background-dark);
    --on-background: var(--on-background-dark);
    --surface: var(--surface-dark);
    --surface-container-low: var(--surface-container-low-dark);
    --surface-container-highest: var(--surface-container-highest-dark);
    --on-surface: var(--on-surface-dark);
    --on-surface-variant: var(--on-surface-variant-dark);
    --primary: var(--primary-dark);
    --on-primary: var(--on-primary-dark);
    --primary-container: var(--primary-container-dark);
    --on-primary-container: var(--on-primary-container-dark);
    --secondary-container: var(--secondary-container-dark);
    --on-secondary-container: var(--on-secondary-container-dark);
    --outline: var(--outline-dark);
    --outline-variant: var(--outline-variant-dark);
    --inverse-surface: var(--inverse-surface-dark);
    --inverse-on-surface: var(--inverse-on-surface-dark);
}

[tema="light"] {
    color-scheme: light;

    --background: var(--background-light);
    --on-background: var(--on-background-light);
    --surface: var(--surface-light);
    --surface-container-low: var(--surface-container-low-light);
    --surface-container-highest: var(--surface-container-highest-light);
    --on-surface: var(--on-surface-light);
    --on-surface-variant: var(--on-surface-variant-light);
    --primary: var(--primary-light);
    --on-primary: var(--on-primary-light);
    --primary-container: var(--primary-container-light);
    --on-primary-container: var(--on-primary-container-light);
    --secondary-container: var(--secondary-container-light);
    --on-secondary-container: var(--on-secondary-container-light);
    --outline: var(--outline-light);
    --outline-variant: var(--outline-variant-light);
    --inverse-surface: var(--inverse-surface-light);
    --inverse-on-surface: var(--inverse-on-surface-light);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

li { list-style: none; }

a,
img,
span,
input,
button,
textarea { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img { height: auto; }

input,
textarea,
button {
    background: none;
    border: none;
    font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

input,
textarea,
[editavel="true"] { outline: none; }

textarea { resize: vertical; }

:where(input, textarea)::placeholder { color: currentColor; }

button:disabled { pointer-events: none; }

html {
    font-family: var(--fonte-primaria);
    font-size: var(--fs-base);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--fs-body-m);
    line-height: var(--lh-base);
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

.texto-display-g {
    font-size: var(--fs-display-g);
    line-height: var(--lh-display-g);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-n-025);
}

.texto-display-m {
    font-size: var(--fs-display-m);
    line-height: var(--lh-display-m);
    font-weight: var(--fw-regular);
}

.texto-display-p {
    font-size: var(--fs-display-p);
    line-height: var(--lh-display-p);
    font-weight: var(--fw-regular);
}

.texto-headline-g {
    font-size: var(--fs-headline-g);
    line-height: var(--lh-headline-g);
    font-weight: var(--fw-regular);
}

.texto-headline-m {
    font-size: var(--fs-headline-m);
    line-height: var(--lh-headline-m);
    font-weight: var(--fw-regular);
}

.texto-headline-p {
    font-size: var(--fs-headline-p);
    line-height: var(--lh-headline-p);
    font-weight: var(--fw-regular);
}

.texto-titulo-g {
    font-size: var(--fs-titulo-g);
    line-height: var(--lh-titulo-g);
    font-weight: var(--fw-regular);
}

.texto-titulo-m {
    font-size: var(--fs-titulo-m);
    line-height: var(--lh-titulo-m);
    font-weight: var(--fw-g);
    letter-spacing: var(--ls-p-015);
}

.texto-titulo-p {
    font-size: var(--fs-titulo-p);
    line-height: var(--lh-titulo-p);
    font-weight: var(--fw-m);
    letter-spacing: var(--ls-p-010);
}

.texto-body-g {
    font-size: var(--fs-body-g);
    line-height: var(--lh-body-g);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-025);
}

.texto-body-m {
    font-size: var(--fs-body-m);
    line-height: var(--lh-body-m);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-025);
}

.texto-body-p {
    font-size: var(--fs-body-p);
    line-height: var(--lh-body-p);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-p-040);
}

.texto-label-g {
    font-size: var(--fs-label-g);
    line-height: var(--lh-label-g);
    font-weight: var(--fw-m);
    letter-spacing: var(--ls-p-010);
}

.texto-label-m {
    font-size: var(--fs-label-m);
    line-height: var(--lh-label-m);
    font-weight: var(--fw-m);
    letter-spacing: var(--ls-p-050);
}

.texto-label-p {
    font-size: var(--fs-label-p);
    line-height: var(--lh-label-p);
    font-weight: var(--fw-m);
    letter-spacing: var(--ls-p-050);
}

.material-symbols-rounded {
    width: 1em;
    height: 1em;
    display: block;
    font-variation-settings: 
        'FILL' 0,
        'wgth' 400,
        'GRAD' 0,
        'opsz' 24;
}

:has(> .state-layer) {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    -webkit-user-select: none;
    user-select: none;
}

.state-layer {
    position: absolute;
    inset: 0;
    background-color: var(--state-layer-bg);
    opacity: 0;
    transition: opacity var(--tr-curta) var(--tr-easing-linear);
    z-index: -1;
}

:has(> .state-layer):hover > .state-layer { opacity: 0.08; }

:has(> .state-layer):is(:focus, :focus-visible, :focus-within) > .state-layer {
    opacity: 0.12;
}

:has(> .state-layer):active > .state-layer { opacity: 0.16; }

.scrollbar-customizada::-webkit-scrollbar { width: 8px; }

.scrollbar-customizada::-webkit-scrollbar-track {
    background-color: var(--surface-container-low);
    border-radius: 4px;
}

.scrollbar-customizada::-webkit-scrollbar-thumb {
    background-color: var(--outline-variant);
    border-radius: 4px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: var(--preto);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: var(--tr-curta) var(--tr-easing-linear);
    transition-property: opacity, visibility;
}

.overlay.ativa {
    opacity: 0.5;
    visibility: visible;
}

.overlay-modal {
    z-index: 6;
    visibility: visible;
    animation: fade-overlay var(--tr-curta) var(--tr-easing-linear) forwards;
}

@keyframes fade-overlay {
    0% { opacity: 0; }
    100% { opacity: 0.5; }
}




/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/* Ícones de botão */
.icon-btn {
    display: grid;
    place-items: center;
    color: var(--on-surface-variant);
    border-radius: var(--raio-completo);
    --state-layer-bg: var(--on-surface-variant);
}

.icon-btn.g {
    width: 40px;
    height: 40px;
}

.icon-btn.p {
    width: 28px;
    height: 28px;
}

.icon-btn.g .material-symbols-rounded { font-size: 1.8rem; }


/**
 * FAB (Floating Action Button)
 */
.fab {
    height: 56px;
    max-width: max-content;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    --state-layer-bg: var(--on-primary-container);
    display: flex;
    align-items: center;
    gap: var(--espacamento-2);
    padding-inline: var(--espacamento-4);
    border-radius: var(--raio-g);
    box-shadow: var(--sombra-1);
    transition: box-shadow var(--tr-curta) var(--tr-easing-linear);
}

.fab:hover { box-shadow: var(--sombra-2); }

.fab .texto { padding-inline-end: var(--espacamento-2);}



/**
 * Card
 */
.nota {
    background-color: var(--surface);
    padding: var(--espacamento-4);
    border: 1px solid var(--outline-variant);
    border-radius: var(--raio-g);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    --state-layer-bg: var(--on-surface);
    transition: border-color var(--tr-curta) var(--tr-easing-linear);
}

.nota:where(:hover, :focus-visible) { border-color: var(--outline); }

.nota .titulo-nota { color: var(--on-surface); }

.nota .texto-nota {
    color: var(--on-surface-variant);
    margin-block: var(--espacamento-4);
    text-wrap: balance;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nota .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: auto;
}

.nota .hora-nota { color: var(--on-surface-variant); }

.nota .icon-btn {
    opacity: 0;
    transition: opacity var(--tr-curta) var(--tr-easing-linear);
}

.nota:where(:hover, :focus-visible) .icon-btn {
    opacity: 1;
}

/**
 * Modal
 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: calc(100% - var(--espacamento-8));
    background-color: var(--surface-container-highest);
    border-radius: var(--raio-g);
    padding: var(--espacamento-6);
    box-shadow: var(--sombra-3);
    z-index: 8;
    animation: modal-open var(--tr-media) var(--tr-easing-emphasized) forwards;

}

@keyframes modal-open {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible;
    }
}

.modal .icon-btn {
    position: absolute;
    top: var(--espacamento-4);
    right: var(--espacamento-4);
}

.titulo-modal {
    padding-inline-end: var(--espacamento-10);
    max-height: 48px;
    color: var(--on-surface);
    margin-block-end: var(--espacamento-4);
    overflow: hidden;
}

.texto-modal {
    min-height: 240px;
    max-height: calc(100vh-200px);
    color: var(--on-surface-variant);
    overflow-y: auto;
    margin-block-end: var(--espacamento-4);
}

.rodape {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--espacamento-2);
    padding-block-start: var(--espacamento-2);
}

.rodape .hora {
    flex-grow: 1;
    color: var(--on-surface-variant);
}

.btn {
    height: 40px;
    max-width: max-content;
    display: grid;
    align-items: center;
    border-radius: var(--raio-completo);
}

.btn.texto {
    color: var(--primary);
    --state-layer-bg: var(--primary);
    padding-inline: var(--espacamento-3);
}

.btn.texto:disabled { color: var(--on-surface); }

.btn.texto:disabled .texto-label-g { opacity: 0.38; }

.btn.preenchimento {
    background-color: var(--primary);
    color: var(--on-primary);
    --state-layer-bg: var(--on-primary);
    padding-inline: var(--espacamento-6);
    transition: box-shadow var(--tr-curta) var(--tr-easing-linear);
}

.btn.preenchimento:hover:not(:focus) { box-shadow: var(--sombra-1); }

/**
 * Tooltip
 */
.tooltip {
    position: fixed;
    z-index: 4;
    height: 24px;
    display: grid;
    align-items: center;
    padding-inline: var(--espacamento-2);
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
    white-space: nowrap;
    border-radius: var(--raio-extra-p);
    pointer-events: none;
    animation: fade var(--tr-curta) var(--tr-easing-linear) forwards;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}




/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content) 1fr max-content;
    background-color: var(--surface-container-low);
    max-width: var(--sidebar-width);
    width: 100%;
    padding: var(--espacamento-3);
    border-radius: 0 var(--raio-g) var(--raio-g) 0;
    box-shadow: var(--sombra-3);
    z-index: 4;
    visibility: hidden;
    transition: var(--tr-longa) var(--tr-easing-emphasized);
    transition-property: transform, visibility;
}

.sidebar.ativa {
    transform: translateX(100%);
    visibility: visible;
}

.sidebar .fab { display: none; }

.sidebar > .wrapper {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar > .wrapper-1 {
    padding-inline: var(--espacamento-4) var(--espacamento-2);
    margin-block-end: var(--espacamento-3);
}

[tema="dark"] .logo-clara,
.logo-escura { display: none; }

[tema="dark"] .logo-escura { display: block; }

.sidebar > .wrapper-2 { padding-inline: var(--espacamento-4) var(--espacamento-6); }

.sidebar .nav { overflow-y: auto; }

.nav-item {
    color: var(--on-surface-variant);
    --state-layer-bg: var(--on-surface-variant);
    height: 56px;
    display: flex;
    align-items: center;
    gap: var(--espacamento-2);
    padding-inline: var(--espacamento-4) var(--espacamento-6);
    border-radius: var(--raio-completo);
    /* cursor: pointer; */
}

.nav-item.ativa {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    --state-layer-bg: var(--on-secondary-container);
}

.nav-item .texto {
    flex-grow: 1;
    outline: none;
    border: none;
}

.nav-item .icon-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--tr-curta) var(--tr-easing-linear);
}

.nav-item:where(:hover, :focus-within) .icon-btn {
    opacity: 1;
    visibility: visible;
}


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/
.principal {
    padding-inline: var(--espacamento-4);
    padding-block-end: var(--espacamento-4);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.principal .header {
    display: flex;
    align-items: flex-start;
    gap: var(--espacamento-2);
    padding-block: var(--espacamento-4);
}

.principal .header .wrapper { flex-grow: 1; }

.principal .header .titulo { margin-block-end: var(--espacamento-1); }

.principal .header .texto { color: var(--on-surface-variant); }

.tema-btn { transition: transform var(--tr-media) var(--tr-easing-emphasized); }

[tema='dark'] .tema-btn .icone-dark,
.tema-btn .icone-light { display: none; }

[tema='dark'] .tema-btn .icone-light { display: block; }

[tema='dark'] .tema-btn { transform: rotate(-90deg); }

.principal > .titulo { margin-block: var(--espacamento-3); }

.lista-notas {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-content: flex-start;
    align-items: stretch;
    gap: var(--espacamento-2);
}

.principal .fab {
    position: fixed;
    bottom: var(--espacamento-4);
    right: var(--espacamento-4);
    z-index: 2;
}

.notas-vazias {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--on-surface-variant);
    -webkit-user-select: none;
    user-select: none;
}

.notas-vazias .material-symbols-rounded {
    font-size: 6.8rem;
    opacity: 0.25;
    margin-block-end: var(--espacamento-4);
    margin-inline: auto;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
/* Telas pequenas */
@media (min-width: 786px) {
    .principal { padding-inline: var(--espacamento-6); }
}

/* Telas médias */
@media (min-width: 992px) {
    body { padding-inline-start: var(--sidebar-width); }

    .overlay:not(.overlay-modal) { display: none; }

    .sidebar {
        visibility: visible;
        left: 0;
        height: 100vh;
        grid-template-rows: repeat(3, max-content) 1fr max-content;
        box-shadow: none;
        border-radius: 0;
    }

    .sidebar.ativa { transform: unset; }

    .sidebar .fab { display: flex; }

    .principal { padding-inline: var(--espacamento-10); }

    .menu-btn,
    .principal .fab { display: none; }
}

/* Telas grandes */
@media (min-width: 1400px) {
    .principal {
        max-width: 1480px;
        width: 100%;
        margin-inline: auto;
    }
}